{% extends "layout.html" %}
{% block body %}

{% if links %}
    {% for link in links %}

    <div class="long_url-label" title="{{ link.long_url }}">{{ link.long_url }}</div>
    <div class="short_url-container">
        <div class="short_url-label" id="short_url-{{ link.short_url }}">
            <a href="{{ url_for('short.redirect_url', short_url=link.short_url, _external=True) }}" target="_blank">{{ url_for('short.redirect_url', short_url=link.short_url, _external=True) }}</a>
        </div>
        <button onClick="copyURL('{{ link.short_url }}')">Copy</button>
        <span><a href="{{ url_for('short.delete_link', short_url=link.short_url) }}" onClick="return confirm('Are you sure you want to delete this link?')" class="link-delete">Delete</a></span>
        <span class="label-clicks">This link has been used {{ link.no_of_clicks }} {{ "time" if link.no_of_clicks == 1 else "times" }}</span>
    </div>

    {% endfor %}
{% endif %}
{% endblock %}