{% extends "layout.html" %}
{% block body %}

{% if links %}
    {% for link in links %}
    <div class="long_url-label" title="{{ link['long_url'] }}">{{ link['long_url'] }}</div>
    <div class="short_url-container">
        <div class="short_url-label" id="short_url-{{ link['id'] }}">
            <a href="{{ url_for('redirect_url', short_url=link['id']) }}" target="_blank">{{ request.host  + "/" + link['id'] }}</a>
        </div>
        <button onClick="copyURL('{{ link['id'] }}')">Copy</button>
        <span><a href="{{ url_for('delete_link', short_url=link['id']) }}" onClick="return confirm('Are you sure you want to delete this link?')" class="link-delete">Delete</a></span>
        <span class="label-clicks">This link has been used {{ link['nr_of_clicks'] }} {{ "time" if link['nr_of_clicks'] == 1 else "times" }}</span>
    </div>

    {% endfor %}
{% endif %}
{% endblock %}