{% extends "layout.html" %}
{% block body %}

<div class="long_url-label" title="{{ link['long_url'] }}">{{ link["long_url"] }}</div>
<div class="short_url-container">
    <div class="short_url-label" id="short_url-{{ link['id'] }}">
        <a href="{{ url_for('redirect_url', short_url=link['id']) }}" target="_blank">{{ request.host  + "/" + link["id"] }}</a>
    </div>
    <button onClick="copyURL({{ link['id'] }})">Copy</button>
    <span class="label-clicks">This link has been used {{ link["nr_of_clicks"] }} {{ "time" if link["nr_of_clicks"] == 1 else "times" }}</span>
</div>

{% endblock %}