{% extends "layout.html" %}
{% block body %}

<div class="link-container">
    <div class="link-infotext" title="{{ link.long_url }}">
        {{ link.long_url }}
    </div>
    <div class="short_url-box">
        <a href="{{ url_for('redirect_url', short_url=link.short_url) }}"
            target="_blank" id="short_url-{{ link.short_url }}">
            {{ request.host  + "/" + link.short_url }}</a>
            <button onClick="copyURL(this, '{{ link.short_url }}')" class="btn"
            title="Copy to clipboard">
        <i class='bx bx-copy'></i>
    </button>
    </div>
    <div class="link-infotext">
        This link has been used {{ link.no_of_clicks or 0 }} 
        {{ "time" if link.no_of_clicks == 1 else "times" }}
    </div>
</div>

{% endblock %}