<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>URL Shortener</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script>
            function copyURL(short_url) {
                var copyText = document.getElementById("short_url-" + short_url);
                navigator.clipboard.writeText(copyText.innerText);
            }
        </script>
    </head>
    <body>
        <div class="main-container">
            <h1><a href="{{ url_for('short.index', _external=True) }}" class="banner-link">URL shortener</a></h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="new-link-container">
                <form method="POST" action="{{ url_for('short.add') }}">
                    {{ form.hidden_tag() }}
                    {{ form.long_url(class="long_url-form", placeholder="Enter your URL...") }}
                    {{ form.submit(class="submit-button") }}
                </form>
            </div>

            {% block body %}{% endblock %}
            
            <footer>
                {% if current_user.is_authenticated %}
                    Signed in as {{ current_user.email }}<br />
                    <a href="{{ url_for('short.logout') }}">Sign out</a>
                {% else %}
                    <a href="{{ url_for('short.oauth2_authorize', provider='google') }}">Sign in with Google</a>
                {% endif %}
            </footer>
        </div>
    </body>
</html>




