body {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container {
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
}
.new-link-container {
    background-color: #222;
    border-radius: 10px;
    height: 50px;
    padding: 0;
    margin: 50px 0;
    display: flexbox;
}
.long_url-form {
    background-color: #222;
    width: 390px;
    height: 50px;
    border: 0;
    border-radius: 10px 0 0 10px;
    float: left;
    margin: 0;
    padding: 0 20px;
    color: #fff;
}
.long_url-form:focus {
    outline: none;
}
input[type=submit], button {
    background-color: #222;
    width: 70px;
    height: 50px;
    border: 0;
    border-left: 1px solid #333;
    border-radius: 0 10px 10px 0;
    float: right;
    margin: 0;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
}
input[type=submit]:active, button:active {
    background-color: #aaa;
    transition: none;
}


.long_url-label {
    clear: left;
    width: 480px;
    color: #999;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8em;
}
.short_url-container {
    background-color: #222;
    border-radius: 10px;
    height: 50px;
    padding: 0;
    margin: 0 0 30px 0;
    display: flexbox;
}
.short_url-label {
    width: 390px;
    height: 50px;
    border: 0;
    border-radius: 10px 0 0 10px;
    float: left;
    margin: 0;
    padding: 0 20px;
    color: #fff;
    line-height: 50px;
}
.short_url-label a {
    text-decoration: none;
    color: #ddd;
}