<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>URL Shortener</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <div class="main-container">
            <h1><a href="{{ url_for('index') }}" class="banner-link">URL shortener</a></h1>

            <h2 class="header-error">{{ error }}</h2>

        </div>
    </body>
</html>