<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>URL Shortener</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
        <form method="POST" action="{{ url_for('add') }}">
            {{ form.hidden_tag() }}
            {{ form.long_url.label() }}
            {{ form.long_url() }}
            {{ form.submit }}
        </form>
        <br /><br />
        {% for link in links %}
        {{ link.short_url }} {{ link.long_url }}<br />
        {% endfor %}
	</body>
</html>
